.w {
	margin: 0 auto;
}
/* ! 笔记本和桌面设备 */
@media screen and (min-width: 1068px) {
	.w {
		width: 1200px;
		min-width: 1200px;
	}
}

/* ! 平板设备 */
@media screen and (min-width: 719px) and (max-width: 1067px) {
	.w {
		width: 100%;
		max-width: 720px;
	}
}
/* ! 手机设备 */
@media screen and (max-width: 718px) {
	.w {
		width: 100%;
		min-width: 320px;
	}
}
* {
	box-sizing: border-box;
}
html,
body,
#root {
	width: 100%;
	height: 100%;
	font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif, 'system-ui';
	overflow-x: hidden;
	word-break: break-word;
}
ul,
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
	margin: 0;
	padding: 0;
}
